doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Agegate Example
    link(rel='stylesheet', href='index.css')

  body

    section.agegate
      form(name='agegate', action='')
        .agegate__item
          label
            h2.h5 When is your birthday?

            - var today = new Date();
            input(type='number', name='year', placeholder='YYYY',
              min=today.getFullYear()-100, max=today.getFullYear())
            input(type='number', name='month', placeholder='MM',
              min='1', max='12')
            input(type='number', name='day', placeholder='DD',
              min='1', max='31')

        .agegate__item
          select(name='country')
            option Select a country

        .agegate__item.button-container
          button.button.button--primary(type='submit') Verify your age

        .agegate__item.checkbox
          input(type='checkbox', name='remember')
          span Remember me

    script(src='agegate-compiled.js')
