doctype html
html(lang='en')
  head
    title Agegate Example

  body
    h1 Agegate example
    p.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
      sunt in culpa qui officia deserunt mollit anim id est laborum."

    form.agegate
      label
        h2 Select your country
        select(name='country')
      label
        h2 Enter your DOB

        - var currentYear = new Date().getFullYear()
        input(type='number', name='year', placeholder='YYYY', min=currentYear-120 max=currentYear, value='1986')
        input(type='number', name='month', placeholder='MM', min=1, max=12, value='08')
        input(type='number', name='day', placeholder='DD', min=1, max=31, value='14')

      button(type='submit') Enter

    script(src='agegate-compiled.js')
