//- font
$font-serif = georgia, times, serif
$font-sans = 'Helvetica Neue', helvetica, arial, sans-serif

//- font size
$font-base = 1.6rem
$font-large = $font-base*1.5
$font-small = $font-base*0.75

//- headings
$font-heading-one = $font-base*3
$font-heading-two = $font-base*2
$font-heading-three = $font-base*1.5
$font-heading-four = $font-base*1.25
$font-heading-five = $font-base*1
$font-heading-six = $font-base*0.8

//- line height
$line-height-base = 1.6
$line-height-tight = $line-height-base*0.8
$line-height-spaced = $line-height-base*1.2

//- color
$color--navy = #205081
$color--blue = #3572b0
$color--pale-blue = #ebf2f9
$color--green = #14892c
$color--yellow = #f6c342
$color--red = #d04437
$color--charcoal = #333333
$color--grey-medium = #707070
$color--grey-light = #f5f5f5

