form

  label
    display block

  input[type=number]
    -webkit-appearance none
    -moz-appearance textfield
    appearance none

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button
    -webkit-appearance none
    margin 0

  input[type=checkbox],
  input[type=number], select
    width 100%
    height 50px
    padding 0 10px
    font-size $font-base*1.1
    line-height inherit
    background-color white
    border 2px solid #bbb
    border-radius 4px
    text-align center

    &:focus
      outline none
      border-color $color--blue

    &:disabled
      cursor not-allowed

  input[type=checkbox]
    display inline-block
    cursor pointer
