doctype html
html(lang='en')
  head
    title AgeGate
    link(rel='stylesheet', href='index.css')

  body
    section.agegate
      form(name='agegate', action='')
        .agegate__item
          label
            h2.h5 When is your birthday?

            - var today = new Date();
            input(type='number', name='year', placeholder='YYYY',
              min='1900', max=today.getFullYear())
            input.middle(type='number', name='month', placeholder='MM',
              min='1', max='12')
            input(type='number', name='day', placeholder='DD',
              min='1', max='31')

        .agegate__item
          select(name='country')
            option Select a country

        .agegate__item.button-container
          button.button.button--primary(type='submit') Verify your age

        .agegate__item.checkbox
          input(type='checkbox', name='remember')
          span Remember me

    script(src='agegate.min.js')
    script.
      document.addEventListener('DOMContentLoaded', function(e) {

        /**
         * AgeGate object imported and attached to window.AgaGate
         */

        var gate = new AgeGate({

          // set options
          form: document.querySelector('form'),
          countries: true

        }, function(err) {

          // handle post-validation action
          if (err)
            alert('Age check failed!');
          else
            window.location = 'https://github.com/izolate/agegate';

        }).render();

      });



